In [9]:
import pandas as pd
import itertools

In [11]:
#Read in CSV file with coding
df = pd.read_csv("Final Coding.csv",keep_default_na=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1129 entries, 0 to 1128
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    1129 non-null   int64
 1   tweet_id                      1129 non-null   int64
 2   user_username                 1129 non-null   object
 3   text                          1129 non-null   object
 4   created_at                    1129 non-null   object
 5   conversation_id               1129 non-null   int64
 6   lang                          1129 non-null   object
 7   possibly_sensitive            1129 non-null   bool
 8   author_id                     1129 non-null   int64
 9   source                        1129 non-null   object
 10  in_reply_to_user_id           1129 non-null   object
 11  user_verified                 1129 non-null   bool
 12  user_profile_image_url        1129 non-null   object
 13  user_name                     1129 non-null   object
 14  user_protected                1129 non-null   bool
 15  user_created_at               1129 non-null   object
 16  user_location                 1129 non-null   object
 17  user_description              1129 non-null   object
 18  user_url                      1129 non-null   object
 19  user_pinned_tweet_id          1129 non-null   object
 20  retweet_count                 1129 non-null   int64
 21  like_count                    1129 non-null   int64
 22  quote_count                   1129 non-null   int64
 23  user_tweet_count              1129 non-null   int64
 24  user_list_count               1129 non-null   int64
 25  user_followers_count          1129 non-null   int64
 26  user_following_count          1129 non-null   int64
 27  sourcetweet_type              1129 non-null   object
 28  sourcetweet_id                1129 non-null   object
 29  sourcetweet_text              1129 non-null   object
 30  Code                          1129 non-null   object
 31  sourcetweet_lang              1129 non-null   object
 32  sourcetweet_author_id         1129 non-null   object
 33  Self-organization             1129 non-null   int64
 34  SO code                       1129 non-null   object
 35  Building community            1129 non-null   int64
 36  BC code                       1129 non-null   object
 37  Broadening the counterpublic  1129 non-null   int64
 38  BtC code                      1129 non-null   object
 39  Creating change in math       1129 non-null   int64
 40  CCM code                      1129 non-null   object
 41  SJEDI                         1129 non-null   int64
 42  SJEDI code                    1129 non-null   object
 43  CODER                         1129 non-null   object
dtypes: bool(3), int64(16), object(25)
memory usage: 365.1+ KB

In [49]:
df = pd.read_csv("Final Coding.csv",keep_default_na=False)
#The codes were in 5 different columns; lets aggregate them into a new column
df["all codes"] = df[["SO code","BC code","BtC code","CCM code","SJEDI code"]].agg(';'.join,axis=1)
#We separated them by ;, so convert to an array 
df["all codes"] = df["all codes"].apply(lambda s: s.split(';'))
#Strip out leading/trailing spaces
df["all codes"] = df["all codes"].apply(lambda s: [t.strip() for t in s if t])
#Sort the arrays, so we can be confident the same things are not listed in two different ways
df["all codes"] = df["all codes"].apply(sorted)
#Convert back to string with ; between the codes
df["all codes"] = df["all codes"].apply(lambda s: ';'.join(s))

df_names = pd.read_csv("Names.csv")
df = df.merge(df_names,left_on='user_username',right_on='User Name',how='left')
df=df.rename(columns={'In JMM 2020 Program?': 'JMM 2020', 'In JMM 2021 Program': 'JMM 2021', 'Too anonymous to determine':'Anonymous'})

print(list(df.columns))
#df[['User Name', 'Display Name', 'JMM 2020', 'JMM 2021', 'Anonymous']]
users = df[['User Name', 'Display Name', 'author_id','JMM 2020','JMM 2021', 'Anonymous', 'Organization']].groupby(by=['User Name']).head(1)
users

#Check merge
#print('There were ' + str(len(df['Display Name'].unique())) + ' users in the dataset')
#df.to_csv("all-data.csv")

#users

['Unnamed: 0', 'tweet_id', 'user_username', 'text', 'created_at', 'conversation_id', 'lang', 'possibly_sensitive', 'author_id', 'source', 'in_reply_to_user_id', 'user_verified', 'user_profile_image_url', 'user_name', 'user_protected', 'user_created_at', 'user_location', 'user_description', 'user_url', 'user_pinned_tweet_id', 'retweet_count', 'like_count', 'quote_count', 'user_tweet_count', 'user_list_count', 'user_followers_count', 'user_following_count', 'sourcetweet_type', 'sourcetweet_id', 'sourcetweet_text', 'Code', 'sourcetweet_lang', 'sourcetweet_author_id', 'Self-organization', 'SO code', 'Building community', 'BC code', 'Broadening the counterpublic', 'BtC code', 'Creating change in math', 'CCM code', 'SJEDI', 'SJEDI code', 'CODER', 'all codes', 'User Name', 'Display Name', 'JMM 2020', 'JMM 2021', 'Anonymous', 'Organization']

,User Name,Display Name,author_id,JMM 2020,JMM 2021,Anonymous,Organization
0,mathyadriana,Dr. Adriana Salerno Dom√≠nguez üáªüá™,776450766710136832,True,False,False,False
1,mathprofcarrie,Dr. Diaz Eaton - up to #GoodTrouble,31611970,True,False,False,False
2,pwr2dppl,DR. ABOLISH THE POLICE,3308531970,False,False,True,False
5,xl772,Prof. Christelle Vincent,1260729972,True,False,False,False
6,WanderingPoint,Dr. Wandering Point,2932698781,False,False,True,False
...,...,...,...,...,...,...,...
1113,superyarn,Doctor. Also a Bear.,2445493878,False,False,True,False
1115,dbdoughe,Daniel Dougherty,735164461011591168,False,False,False,False
1121,cordesm,Matt üè≥Ô∏è‚Äçüåà,65302708,False,False,True,False
1122,f_futamura,Fumiko Futamura,632379840,False,False,True,False
1125,noellebeckman,Dr. Noelle G. Beckman,1660843818,False,False,False,False

## Export a weighted edge list so Carrie can play around in R with it

In [55]:
f=open("codes edge list.csv","w") 
#Iterate over our code dictionary we created above
for (codes,weight) in weighted_codes.items():
    #Codes is a string containing the codes separated by ;, so split this into an array of individual codes
    split_codes = codes.split(";")
    #We want to turn each hyperedge into an edge for each pair
    #So this iterates over pairs of codes
    for (c,d) in list(itertools.permutations(split_codes,2)):
        #Put a line in the edgelist for each weight
        for i in range (0,weight):
            f.write(c+","+d+"\n")